@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&display=swap");

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 7rem;
}

.jugadores {
  display: flex;
  width: 50rem;
  height: 5rem;
  font-family: "Audiowide", cursive;
}

canvas {
  box-shadow: black 20px 10px 50px;
}

.canvas {
  margin-left: -32rem;
}

#jugador1 {
  margin-left: -5rem;
}

#jugador2 {
  margin-left: 23rem;
}

h1 {
  font-family: "Audiowide", cursive;
  margin-left: -17.5rem;
  margin-bottom: 3rem;
}

.fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin-top: 3rem;
  font-family: "Audiowide", cursive;
  margin-left: -20.5rem;
}

.fcc-btn:hover {
  background-color: #223094;
}

#winnerTemporal {
  margin-top: -26rem;
  padding-left: 54rem;
  height: 3rem;
  font-family: "Audiowide", cursive;
  font-size: 2rem;
}

#gameOverPlayer1 {
  padding-top: 3rem;
  padding-left: 56rem;
  height: 5rem;
  font-family: "Audiowide", cursive;
  font-size: 1rem;
}
#gameOverPlayer2 {
  height: 2rem;
  padding-left: 56rem;
  font-family: "Audiowide", cursive;
  font-size: 1rem;
}

span {
  font-size: 1.3rem;
}

#winnerDefinitivo {
  height: 3rem;
  font-family: "Audiowide", cursive;
  font-size: 3rem;
  padding-top: 6rem;
  padding-left: 56rem;
}

.barraDiferencia {
  display: flex;
  padding-top: 2rem;
  margin-left: -32rem;
}
#barraDiferenciaPlayer1 {
  height: 3rem;
  display: flex;
  width: 24rem;
  background-color: rgb(24, 69, 218);
}

#barraDiferenciaPlayer2 {
  height: 3rem;
  display: flex;
  width: 24rem;
  background-color: rgb(216, 155, 24);
}

/*
.player1 {
  height: 3rem;
  background-color: aqua;
  width: 1rem;
}

.player2 {
  height: 3rem;
  background-color: rgb(255, 0, 191);
  width: 1rem;
}
*/
